.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  transition: 0.3s;
  background-color: #1976d2;
  margin: 0 auto;
}
.btn:hover {
  opacity: 0.7;
  transform: scale(1.05);
}
.btn__red {
  background: #DF3E3E;
}
.btn__styleClear {
  background: none;
  color: #000;
}

.part {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
  transition: "border-color 0.1s";
}
.part__img {
  pointer-events: none;
}

.iconContainer {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: #ffffff;
  padding: 10px;
}
.iconContainer__number {
  font-size: 16px;
  color: #DF3E3E;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
}
.iconContainer__img {
  background: #CCCCCC;
  border-radius: 50%;
}

.userContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.userContainer__name {
  font-weight: bold;
  background: #ffffff;
  padding: 10px;
  border-radius: 7px;
}
.userContainer__label {
  display: block;
  background: #fff;
  padding: 10px;
  border: 5px;
}
.userContainer__input {
  display: block;
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url(assets/other/modalBg.png);
  z-index: 999;
  border: 10px solid #48D800;
}
.modal__origin {
  position: relative;
  height: 100%;
}
.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #6E4339;
  border-radius: 5px;
  background: #FFFBD9;
  width: 80%;
}

body {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: bold;
}
body .font-daruma {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5em;
}

.splash {
  background: #DF3E3E;
  height: 100vh;
  padding: 20px 0;
}
.splash__inner {
  position: relative;
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFBD9;
  border-radius: 15px;
  min-height: 100%;
}
.splash__container {
  width: 90%;
  height: 90%;
  border: 5px dashed #000;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splash__logo {
  display: block;
  margin: 100px auto 100px;
}

.title {
  background: #DF3E3E;
  height: 100vh;
  padding: 20px 0;
}
.title__inner {
  position: relative;
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFBD9;
  border-radius: 15px;
  min-height: 100%;
}
.title__container {
  width: 90%;
  height: 90%;
  border: 5px dashed #000;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title__logo {
  display: block;
  margin: 100px auto 100px;
}
.title__controller {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectPeople {
  min-height: 100vh;
  background: #DF3E3E;
  position: relative;
}
.selectPeople__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFBD9;
  min-height: 90%;
  border-radius: 7px;
  padding: 30px;
}
.selectPeople__topImg {
  display: block;
  margin: 0 auto 10px;
}
.selectPeople__question {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.selectPeople__label {
  background: #FFF38B;
  display: block;
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
}
.selectPeople__input {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: #fff;
}
.selectPeople__container {
  background: #FFF38B;
  padding: 30px;
  border-radius: 7px;
}

.selectImg {
  background: #DF3E3E;
  min-height: 100vh;
  position: relative;
}
.selectImg__inner {
  background: #FFFBD9;
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  border-radius: 15px;
  overflow-y: auto;
  padding: 20px 0;
}
.selectImg__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10%;
}
.selectImg__img {
  display: block;
}
.selectImg__img:not(:last-child) {
  margin-bottom: 30px;
}
.selectImg__levelList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 4px dashed #6E4339;
  flex-wrap: nowrap;
}
.selectImg__levelItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}
.selectImg__levelItem:nth-child(1) .selectImg__levelImg {
  background: #DF3E3E;
}
.selectImg__levelItem:nth-child(2) .selectImg__levelImg {
  background: #48D800;
}
.selectImg__levelItem:nth-child(3) .selectImg__levelImg {
  background: #0091D8;
}
.selectImg__levelImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

.play {
  background: #DF3E3E;
  min-height: 100vh;
  position: relative;
}
.play__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFBD9;
  height: 90%;
  border-radius: 15px;
  overflow-y: auto;
  padding: 0 20px;
}
.play__sample {
  display: block;
  width: 40%;
  margin: 30px 0;
}
.play__sampleImg {
  display: block;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  border: 5px solid #DF3E3E;
  border-radius: 7px;
  background: rgba(241, 241, 241, 0.7);
  padding: 10px;
}

.result {
  background: #DF3E3E;
  min-height: 100vh;
  position: relative;
}
.result__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFBD9;
  height: 90%;
  border-radius: 15px;
  overflow-y: auto;
}
.result__title {
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: #fff;
  background: #6E4339;
}
.result__container {
  padding: 0 20px;
}
.result__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.result__btn {
  width: 45%;
}

.level {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 20px 10px;
  border-bottom: 5px dashed #000;
  gap: 20px;
}
.level__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 10px;
  background: #fff;
  transition: 0.3s ease-in-out;
}
.level__info:hover {
  transform: scale(1.1);
}
.level__img {
  display: block;
  margin-right: 5px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.level .easy {
  background: rgba(223, 62, 62, 0.5);
}
.level .normal {
  background: rgba(72, 216, 0, 0.5);
}
.level .hard {
  background: rgba(0, 145, 216, 0.5);
}

.closeBtn {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: auto;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}
.closeBtn:hover {
  transform: scale(1.1);
}
.closeBtn__line {
  display: block;
  width: 100%;
  height: 5px;
  background: #6E4339;
}
.closeBtn__line:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  transform: rotate(45deg);
}
.closeBtn__line:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(-45deg);
}

.board {
  position: relative;
  margin-bottom: 60px;
  max-width: 500px;
  background: rgba(241, 241, 241, 0.7);
  border: 8px solid #6E4339;
  border-radius: 15px;
  aspect-ratio: 1/1;
}
.board__assistant {
  position: absolute;
  top: -110px;
  right: 0;
}

.playHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px dashed #6E4339;
  padding-bottom: 10px;
}
.playHeader__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.playHeader__btn {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.playHeader__btn:nth-of-type(1) .playHeader__btnText {
  color: #48D800;
}
.playHeader__btn:nth-of-type(2) .playHeader__btnText {
  color: #0091D8;
}
.playHeader__btnText {
  font-size: 12px;
  margin-bottom: 5px;
}
.playHeader__img {
  display: block;
  transition: 0.3 ease-in-out;
}
.playHeader__img:hover {
  transform: scale(1.1);
}

.explanation__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.explanation__title {
  margin: 20px 0;
  font-weight: bold;
  color: #6E4339;
}
.explanation__container {
  margin-bottom: 20px;
  background: #DF3E3E;
  padding: 10px;
  border-radius: 5px;
}
.explanation__container:nth-of-type(2) {
  background: #48D800;
}
.explanation__container:nth-of-type(3) {
  background: #0091D8;
}
.explanation__content {
  border: 2px dashed #fff;
  padding: 10px;
  border-radius: 5px;
}
.explanation__level {
  font-weight: bold;
  background: #fff;
  width: 75%;
  margin: 0 auto 10px;
  border-radius: 10px;
}
.explanation__overview {
  color: #fff;
}

.help__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.help__title {
  margin: 20px 0;
  font-weight: bold;
  color: #6E4339;
}
.help__content {
  border: 2px dashed #000;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  text-align: left;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */