//*このCSSの書かれ順（超キモイので苦情受け付けます。24h営業）
//css変数（カラーを変数として保存:$main-color:#00ff00など）
//mixin (共通スタイルの設定:@mixin mix-flex()など)
//components (各componentsのスタイル:.btn{}など）
//pages (各pagesのスタイル:.home{}など)
//block(コンポーネントでもページでもない単一のスタイル:.levelなど)
//id (js用かつスタイルを若干変える時に使う:#btn{})
//js (メニュー出現などのjs用:open-Slider{},close-Sliderなど"-"で繋げている物はjs用です)

//*コメントアウトについて
//「//~~~~~~~~~~~~~~~~」は項目の目印(css変数、mixin、components、pagesなど)
//「//*」はセレクタの目印(ポスト、ボタン、ホーム画面など)
//「//」は注釈
//「//todo」は後でやる
//「//!」は注意点やエラー
//「//?」は使い方の説明

//*以下からスタイリング
@charset "utf-8";

//css変数~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$baseColor: #FFFBD9;
$mainColor: #DF3E3E;
$subColor: #3E9CDF;
$accentColor: #FFF38B;
$accentColor2: #48D800;
$accentColor3: #0091D8;
$accentColor4: #6E4339;

//*ダミー用
$dummyColor: #CCCCCC;


//mixin~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//*横並べ用のmixin
@mixin mix-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

//*inner用のmixin
@mixin mix-inner($w: 90%, $mw: 1200px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

//*レスポンシブ用のmixin
$breakpoints: (
    "tablet": "screen and (min-width: 640px)",
    "desktop": "screen and (min-width: 800px)",
    "full": "screen and (min-width: 1200px)",
    ) !default;

@mixin mix-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

//?位置調整したい要素の親に必ずposition:relativeを指定すること
//?(,)で、強制的に真ん中に要素を持ってくる。
//?(x,y)で対象の位置を調整できる。
@mixin mix-position-control($x: 50%, $y: 50%) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-#{$x}, -#{$y}
);
}

//components~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//*ボタン
.btn {
    //仮のデザイン-仮ボタン用デザイン
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #1976d2;

    margin: 0 auto;

    &:hover {
        opacity: .7;
        transform: scale(1.05);
    }

    &__red {
        background: $mainColor;
    }

    &__styleClear {
        background: none;
        color: #000;
    }
}

//*各パーツ
.part {
    position: absolute;
    user-select: none;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    transition: 'border-color 0.1s';

    //厳密な位置や調整はpartContainer.tsxにて行っている。
    &__img {
        pointer-events: none;
    }
}

//*ユーザーアイコン
.iconContainer {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background: #ffffff;
    padding: 10px;


    &__number {
        font-size: 16px;
        color: $mainColor;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: bold;
    }

    &__img {
        background: #CCCCCC;
        border-radius: 50%;
    }
}

//*アイコンとユーザー名のコンテナ
.userContainer {
    @include mix-flex(center, flex-start);
    gap: 20px;

    &__name {
        font-weight: bold;
        background: #ffffff;
        padding: 10px;
        border-radius: 7px;
    }

    &__label {
        display: block;
        background: #fff;
        padding: 10px;
        border: 5px;
    }

    &__input {
        display: block;
    }
}

//*モーダルウィンドウのコンポーネント
.modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url(assets/other/modalBg.png);
    z-index: 999;
    border: 10px solid $accentColor2;

    &__origin {
        position: relative;
        height: 100%;
    }

    &__container {
        @include mix-position-control();
        border: 3px solid $accentColor4;
        border-radius: 5px;
        background: $baseColor;
        width: 80%;
    }
}

//pages~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//*アプリ共通
body {
    //漢字＋ひらがなは全て以下を適用
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: bold;

    //ひらがなのみは以下を適用
    & .font-daruma {
        font-family: "Darumadrop One", sans-serif;
        font-weight: 400;
        letter-spacing: 0.5em;
    }
}

//*スプラッシュ画面
.splash {
    background: $mainColor;
    height: 100vh;
    padding: 20px 0;

    &__inner {
        position: relative;
        @include mix-inner(95%);
        background: $baseColor;
        border-radius: 15px;
        min-height: 100%;
    }

    &__container {
        width: 90%;
        height: 90%;
        border: 5px dashed #000;
        border-radius: 15px;
        padding: 20px;

        @include mix-position-control();
    }

    &__logo {
        display: block;
        margin: 100px auto 100px;
    }
}

//*タイトル画面
.title {
    background: $mainColor;
    height: 100vh;
    padding: 20px 0;

    &__inner {
        position: relative;
        @include mix-inner(95%);
        background: $baseColor;
        border-radius: 15px;
        min-height: 100%;
    }

    &__container {
        width: 90%;
        height: 90%;
        border: 5px dashed #000;
        border-radius: 15px;
        padding: 20px;

        @include mix-position-control();
    }

    &__logo {
        display: block;
        margin: 100px auto 100px;
    }

    &__controller {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

//*人数セレクト画面
.selectPeople {
    min-height: 100vh;
    background: $mainColor;
    position: relative;

    &__inner {
        @include mix-inner();
        @include mix-position-control();
        background: $baseColor;
        min-height: 90%;
        border-radius: 7px;
        padding: 30px;
    }

    &__topImg {
        display: block;
        margin: 0 auto 10px;
    }

    &__question {
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
    }

    &__label {
        background: $accentColor;
        display: block;
        width: 100%;
        padding: 30px;
        margin-bottom: 30px;
    }

    &__input {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background: #fff;
    }

    &__container {
        background: $accentColor;
        padding: 30px;
        border-radius: 7px;
    }
}

//*画像セレクト画面
.selectImg {
    background: $mainColor;
    min-height: 100vh;
    position: relative;

    &__inner {
        background: $baseColor;
        @include mix-inner();
        @include mix-position-control();
        height: 90%;
        border-radius: 15px;
        overflow-y: auto;
        padding: 20px 0;
    }

    &__container {
        @include mix-flex(flex-start, center);
        gap: 10%;
    }

    &__img {
        display: block;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__levelList {
        @include mix-flex();
        gap: 10px;
        padding: 10px;
        border-bottom: 4px dashed $accentColor4;
        flex-wrap: nowrap;
    }

    &__levelItem {
        @include mix-flex(center, flex-start);
        gap: 10px;
        flex-wrap: nowrap;

        &:nth-child(1) {
            & .selectImg__levelImg {
                background: $mainColor;
            }
        }

        &:nth-child(2) {
            & .selectImg__levelImg {
                background: $accentColor2;
            }
        }

        &:nth-child(3) {
            & .selectImg__levelImg {
                background: $accentColor3;
            }
        }
    }

    &__levelImg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 3px;
    }
}

//*プレイ画面
.play {
    background: $mainColor;
    min-height: 100vh;
    position: relative;

    &__inner {
        @include mix-inner();
        @include mix-position-control();
        background: $baseColor;
        height: 90%;
        border-radius: 15px;
        overflow-y: auto;
        padding: 0 20px;
    }

    &__sample {
        display: block;
        width: 30%;
        margin: 30px 0;
    }

    &__sampleImg {
        display: block;
        aspect-ratio: 1/1;
        object-fit: contain;
        border: 5px solid $mainColor;
        border-radius: 7px;
        background: rgba($color: #f1f1f1, $alpha: .7);
        padding: 10px;
    }
}

//*リザルト画面
.result {
    background: $mainColor;
    min-height: 100vh;
    position: relative;

    &__inner {
        @include mix-inner();
        @include mix-position-control();
        background: $baseColor;
        height: 90%;
        border: 1px solid $accentColor4;
        border-radius: 15px;
        overflow-y: auto;
    }

    &__title {
        font-size: 20px;
        width: 100%;
        font-weight: bold;
        text-align: center;
        margin: 20px 0;
        color: #fff;
        background: $accentColor4;
        padding: 10px;
    }

    &__container {
        padding: 0 20px;
    }

    &__controls {
        @include mix-flex();
        margin-top: 20px;
    }

    &__btn {
        width: 45%;
    }
}

//block~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//画像セレクト画面の上部にある難易度表
.level {
    @include mix-flex();
    margin: 20px 0;
    padding: 20px 10px;
    border-bottom: 5px dashed #000;
    gap: 20px;


    &__info {
        @include mix-flex(center, center);
        width: 45%;
        padding: 10px;
        background: #fff;
        transition: .3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__img {
        display: block;
        margin-right: 5px;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }

    & .easy {
        background: rgba($color: $mainColor, $alpha: .5);
    }

    & .normal {
        background: rgba($color: $accentColor2, $alpha: .5);
    }

    & .hard {
        background: rgba($color: $accentColor3, $alpha: .5);
    }
}

//モーダルウィンドウの上部の閉じるボタン
.closeBtn {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 20px 30px 30px auto;
    transition: .3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    &__line {
        display: block;
        width: 100%;
        height: 5px;
        background: $accentColor4;

        &:nth-child(1) {
            @include mix-position-control(50%, 200%);
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            @include mix-position-control();
            transform: rotate(-45deg);
        }
    }
}

//ボード部分
.board {
    position: relative;
    margin-bottom: 60px;
    max-width: 500px;
    background: rgba($color: #f1f1f1, $alpha: .7);
    border: 8px solid $accentColor4;
    border-radius: 15px;
    aspect-ratio: 1/1;

    &__assistant {
        position: absolute;
        top: -110px;
        right: 0;
    }
}

//プレイ画面上部のコントローラ
.playHeader {

    @include mix-flex(center);
    border-bottom: 3px dashed $accentColor4;
    padding-bottom: 10px;

    &__controls {
        @include mix-flex();
        gap: 10px;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        text-align: center;

        &:nth-of-type(1) {
            & .playHeader__btnText {
                color: $accentColor2;
            }
        }

        &:nth-of-type(2) {
            & .playHeader__btnText {
                color: $accentColor3;
            }
        }
    }

    &__btnText {
        font-size: 12px;
        margin-bottom: 5px;
    }

    //todo 今なんかhoverのtransitionが効かない。あとで直す。
    &__img {
        display: block;
        transition: .3 ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

//モーダルウィンドウ（難易度説明）
.explanation {
    &__inner {
        @include mix-inner();
        text-align: center;
    }

    &__title {
        margin: 20px 0;
        font-weight: bold;
        color: $accentColor4;
    }

    &__container {
        margin-bottom: 20px;
        background: $mainColor;
        padding: 10px;
        border-radius: 5px;

        &:nth-of-type(2) {
            background: $accentColor2;
        }

        &:nth-of-type(3) {
            background: $accentColor3;
        }
    }

    &__content {
        border: 2px dashed #fff;
        padding: 10px;
        border-radius: 5px;
    }

    &__level {
        font-weight: bold;
        background: #fff;
        width: 75%;
        margin: 0 auto 10px;
        border-radius: 10px;
    }

    &__overview {
        color: #fff;
    }
}

//モーダルウィンドウ（ヘルプ）
.help {
    &__inner {
        @include mix-inner();
        text-align: center;
    }

    &__title {
        margin: 20px 0;
        font-weight: bold;
        color: $accentColor4;
    }

    &__content {
        border: 2px dashed #000;
        padding: 10px;
        border-radius: 5px;
        background: #fff;
        text-align: left;
        margin-bottom: 20px;
    }
}

//id~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~



//js~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~